body {
    font-family: 'Roboto';
}

.product {
    min-height: 200px;
}

.product img {
    /* width: auto; */
    max-width: 100px;
}

.result img {
    max-width: 100px;
}

.order img {
    /* width: auto; */
    max-width: 100px;
}

img.avatar {
    width: 80px;
}

.sticky-offset {
    top: 5em!important;
    z-index: 900!important;
}

.modal-backdrop {
    background-color: rgba(0,0,0,.0001) !important;
}
