#msgSideBar {
    height: 100%;
    width: 12em;
    position: fixed;
    z-index: 1;
    left: 0;
    overflow-x: hidden;
}

#mainContainer {
    position: relative;
    padding-left: 12em;
}

img.avatar {
    width: 60px;
}