html,
body,
header

@media (max-width: 740px) {
    html,
    body,
    header

}

@media (min-width: 800px) and (max-width: 850px) {
    html,
    body,
    header

}
/*#post-nav-bar{*/
    /*background-color: #D3E1E5;*/
/*}*/
/*#post-part{*/
    /*background-color: #B4CDD3;*/
/*}*/
/*#profile-card-body{*/
    /*background-color: #9FC2DD;*/
/*}*/
#description{
    margin: 10px;
}


.row{
    padding-top: 10px;
}


